<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haerbin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/hello_world"
        android:networkSecurityConfig="@xml/net"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/QMUI.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.NoticeListActivity"></activity>
        <activity android:name=".activity.GMWebActivity" />
        <activity android:name=".activity.NewsDetailActivity" />
        <activity android:name=".activity.ChartActivity" />
        <activity android:name=".activity.WorkDetailDetailActivity" />
        <activity android:name=".activity.WorkDetailActivity" />
        <activity android:name=".activity.WorkListActivity" />
        <activity android:name=".activity.GovermentListActivity" />
        <activity android:name=".activity.PrivateDoWorkActivity" />
        <activity android:name=".activity.ForGetPswActivity" />
        <activity android:name=".activity.LogOffActivity" />
        <activity android:name=".activity.AskActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.ErrorListActivity" />
        <activity android:name=".activity.ErrorActivity" />
        <activity android:name=".activity.MyCompaintListActivity" />
        <activity android:name=".activity.ComplainActivity" />
        <activity android:name=".activity.NewsListActivity" />
        <activity android:name=".activity.RegisterCompanyActivity" />
        <activity android:name=".activity.RegisterEndActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MapActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ofYf9VwTmi7eNgkPr7nRzOBg2WYxX713" />

        <activity android:name=".activity.GuideWorkActivity" />
        <activity android:name=".activity.AnnouncementListActivity" />
        <activity android:name=".activity.WorkQueryActivity" />
        <activity android:name=".activity.GovermentServiceActivity" />
        <activity android:name=".activity.HandyActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.EditPswActivity" />
        <activity android:name=".activity.EditPhoneActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AgreementActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ImageActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.haerbin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_path" />
        </provider>
    </application>

</manifest>